* {
    padding: 0%;
    margin: 0%;
}

body{
    text-align: center;
    background-color: rosybrown;
}

#turkey{
    border: 2px solid red;
    height: 300px;
    float: left;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 25px;
    

}

#cricket{
    border: 2px solid rgb(0, 255, 64);
    height: 300px;
    position: relative;
    top: 600px;
    margin: 50px;
    float: right;
}